.wrapper-index-page {
  padding-top: 50px;
  padding-bottom: 100px;

  .row {
    position: relative;
  }

  .wrapper-filter {
    padding: 20px;
    background: #fffaed;
  }

  .empty {
    padding: 30px;
    font-size: 28px;
  }

  .wrapper-tasks {
    .wrapper-task {
      position: relative;
      padding: 25px 0;


      &:not(:last-child) {
        border-bottom: 1px solid #e2e3e5;
      }

      &.admin {
        padding-right: 140px;
      }

      .name {
        font-size: 24px;
      }

      .email {
        font-size: 15px;
        color: $main-color;
        margin-bottom: 20px;
      }

      .text {
        line-height: 1.2;
        font-size: 18px;

        textarea {
          padding: 20px;
        }
      }

      .holder-image {
        margin-top: 20px;

        img {
          max-width: 150px;
        }
      }

      .holder-done {
        position: absolute;
        right: 0;
        top: 25px;
      }

      .holder-button {
        position: absolute;
        bottom: 25px;
        right: 0;
      }

      .link {
        padding: 6px 14px;
      }
    }
  }
}