body {
  font-family: $font;
  font-size: $font-size;

  a {
    text-decoration: none;
    outline: none;

    &:hover {
      text-decoration: none;
    }
  }

  .disabled {
    pointer-events: none;
  }
}

.link {
  padding: 10px 20px;
  border: 2px solid $main-color;
  color: $main-color;
  font-size: 15px;text-align: center;
  display: inline-block;
  border-radius: $border-radius;
  transition: all 0.4s;

  &:hover {
    background: $main-color;
    color: #ffffff;
  }
}